
/* nav bar */


  
.nav-item {
    padding-right: 4rem;
    padding-left: 4rem;
}

.nav-link {
   display:block;
   font-family:proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   font-weight:400;
   font-size:20px;
   font-weight:300;
   font-stretch:normal;
   font-style:normal;
   line-height:normal;
   letter-spacing:1.59px;
   color:#000;
   padding-right: 5rem;
   padding-left: 5rem;
  }

  @media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}


/* <!-- Banner Image --> */

.cc-home-banner {
   background-size: cover !important;
   background-position: 50% !important;
   height: 740px;
}

.cc-home-banner-title {
   font-family: proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   font-size: 53px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #fff;
   margin-bottom: 2.5rem;
   margin-top: 0;
}

.btn{
   letter-spacing: 1.75px;
   text-transform: uppercase;
   text-decoration: none;
}

.btn-light{
   color: #212529;
   background-color: #f8f9fa;
}


/* Title Block */

.cc-title-block{
   margin-top: 90px;
   margin-bottom: 115px;
}

.cc-title-title {
   font-family: proxima-nova,sans-serif;
   font-weight: 300;
   line-height: 1.33;
}


/* Cards Block */

.card-title{
   font-weight: 800;
   font-size: 23px;
   line-height: 1.21;
   color: #212b36;
}

.card-text{
   margin-top: 1rem;
   font-size: 21px;
   font-weight: 300;
   color: #000;
}


/* image and Text Block */

.cc-iat {
   position:relative;
   display:flex;
   flex-direction:row;
   align-items:flex-end;
   margin-bottom:100px;
  }

.cc-iat-image {
   flex-basis:65%;
   flex-shrink:0;
   flex-grow:0;
   width:65%;
   min-width:65%;
   margin-top: 50px;
  }

  .cc-iat-image-content {
   flex-basis:42%;
   flex-shrink:0;
   flex-grow:0;
   width:42%;
   min-width:42%;
   position:relative;
   left:-140px;
   bottom:-70px;
   padding:50px;
   color:#fff
  }

  .cc-iat--right {
   flex-direction:row-reverse
  }

  .cc-iat--right .cc-iat-image-content {
   left:auto;
   right:-140px
  }

  .cc-iat-title {
   font-weight:800;
   font-size:34px
  }
  .cc-iat-text,
  .cc-iat-title {
   font-family:proxima-nova,sans-serif;
   font-style:normal
  }
  .cc-iat-text {
   font-weight:300;
   font-size:21px;
   line-height:1.43
  }

  @media (max-width:991px) {
   .cc-iat {
    display:block;
    margin-bottom:-10px
   }
   .cc-iat-image {
    display:block;
    width:100%;
    min-width:0
   }
   .cc-iat-image-content {
    flex-basis:100%;
    width:100%;
    min-width:100%;
    position:relative;
    left:70px;
    bottom:70px
   }
   .cc-iat--right .cc-iat-image-content {
    left:-70px
   }
  }
  @media (max-width:850px) {
   .cc-iat-image-content {
    display:block;
    position:static;
    left:auto;
    bottom:auto;
    padding:35px
   }
  }


/* <!-- Call to Action Block --> */

.cc-cta-title {
   font-family: proxima-nova,sans-serif;
   font-size: 30px;
   font-weight: 300;
   font-style: normal;
   line-height: 1.33;
   color: #000;
   text-align: center;
}

.btn-primary {
   color:#fff;
   background-color:#814ebf;
   border-color:#814ebf
  }

.btn-primary:hover {
   color: #fff;
   background-color: #6e3da9;
   border-color: #683aa0;
}

.btn-primary:focus {
   box-shadow:0 0 0 .2rem rgba(148,105,201,.5)
  }


/* Testimonial Block */

.cc-testimonial-title {
   font-weight: 900;
   font-style: italic;
   line-height: 1.37;
   color: #212b36;
   font-family: proxima-nova,sans-serif;
   font-size: 30px;
   text-align: center;
}

.cc-testimonial-attribution {
   font-family: proxima-nova,sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 1.75px;
   text-align: center;
   color: #000;
   text-transform: uppercase;
   margin-top: 10px;
}


/* contact footer */

.cc-contact-footer-h2 {
   font-family: proxima-nova,sans-serif;
   color: #fff;
   font-weight: 800;
   font-size: 40px;
   font-style: normal;
}

.cc-contact-footer-p {
   font-weight: 300;
   font-size: 24px;
   line-height: 1.33;
   font-family: proxima-nova,sans-serif;
   font-style: normal;
   color: #fff;
}


/* footer */

.cc-footer {
 background-color:#000
}
.cc-footer .rich-text {
 font-family:proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
 font-weight:400;
 font-style:normal;
 font-size:16px;
 line-height:1.5;
 color:#fff
}
.cc-footer .rich-text p:last-child {
 margin-bottom:0
}
.cc-footer .rich-text a {
 color:#fff
}
.cc-footer-title {
 font-family:proxima-nova,sans-serif;
 font-weight:600;
 font-style:normal;
 font-size:12px;
 letter-spacing:1.75px;
 text-transform:uppercase;
 color:#858585;
 margin-bottom:13px
}
@media (max-width:768px) {
 .cc-footer-title {
  margin-top:20px
 }
}
.cc-footer-link-lg {
 font-family:proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
 font-weight:400;
 font-style:normal;
 font-size:22px;
 color:#fff;
 display:block;
 padding-top:3px;
 padding-bottom:4px
}
.cc-footer-link-lg:hover {
 color:#fff
}
.cc-footer-link-lg:first-of-type {
 padding-top:0
}
.cc-footer-copy {
 font-family:proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
 font-weight:400;
 font-style:normal;
 font-size:14px;
 color:#858585;
 margin-top:15px
}
.cc-footer-social-icon {
 display:inline-block;
 margin-right:10px
}





